DEBUG=False
SECRET_KEY=django-insecure-your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,.your-domain.com

# Database
DATABASE_URL=postgres://user:password@hostname:5432/dbname

# Redis (pour Channels)
REDIS_URL=redis://redis:6379/0
