{% autoescape off %}
Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe pour votre compte sur ConnectX.

Veuillez vous rendre sur la page ci-dessous et choisir un nouveau mot de passe :

https://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur, au cas où vous l'auriez oublié : {{ user.get_username }}

Si vous n'avez pas demandé de réinitialisation, vous pouvez ignorer cet email. Votre mot de passe restera inchangé.
{% endautoescape %}
